input.base-input{
    padding:9px 18px;
    border: 1px solid rgba(24, 31, 38, 0.5);
}
input.base-input:focus,
input.base-input:focus-visible {
    border-color: rgba(24, 31, 38, 0.8);
    outline: none;
}
input.danger-input{
    padding:9px 18px;
    border: 1px solid rgba(166, 17, 17, 0.98);
}
input.danger-input:focus,
input.danger-input:focus-visible{
    padding:9px 18px;
    border: 1px solid rgba(166, 17, 17, 0.98);
}
.input-container{
    display:flex;
    gap:50px;
}
@media (max-width: 500px) {
    .input-container{
        gap:20px;
    }
}