<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>
{% include 'ui/button.html' with button_class="btn-primarmy" button_theme="btn-third"  button_text="Click me!" %}
{% include 'ui/input.html' %}

 <p>Number of clicks: <span id="clickCount">0</span></p>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let clickCount = 0;
            const button = document.querySelector('.btn-primarmy');

            if (button) {
                button.addEventListener('click', function() {
                    clickCount += 1;
                    document.getElementById("clickCount").textContent = clickCount;
                });
            }
        });
    </script>
<!-- шаблон HTML -->
<form method="post">
    {% csrf_token %}
    {{ date_form.date.label_tag }}  <!-- Отображение метки поля даты -->
    {{ date_form.date }}  <!-- Отображение самого поля даты -->
    <button type="submit">Отправить</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr(".base-date-input", {
            dateFormat: "Y-m-d", // формат даты
            altInput: true, // для отображения удобного формата
            altFormat: "F j, Y", // видимый формат
            allowInput: true
        });
    });
</script>

<h1>Список коттеджей</h1>
    <ul>
        {% for cottage in cottages %}
            <li>
                <h2>{{ cottage.name }}</h2>
                <p>Цена: {{ cottage.price }} руб.</p>
                <p>{{ cottage.description }}</p>

                <h3>Фотографии:</h3>
                <ul>
                    {% for image in cottage.images.all %}
                        <li><img src="{{ image.image.url }}" alt="Фото коттеджа" style="width: 200px;"></li>
                    {% empty %}
                        <li>Нет фотографий</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>