<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <div class="content">
        <div class="content-fst">
            <a href="/"><img src="{% static "/icons/logo 2.svg" %}"></a>
            <div><a class="info" href="/info">Правила пользования услугами курорта</a></div>
            <div><a class="info" href="/info">Политика в отношении обработки персональных данных</a></div>
            <div class="b-info">© ООО «Движение» 2023. Все права защищены.</div>
        </div>
        <div class="content-snd">
            <div class="title">Контакты</div>
            <div class="text">618206, Пермский край, г. Чусовой, ул. Мира, 17, оф.401</div>
            <div class="text">takman59@mail.ru</div>
            <div class="text">+7 (342) 256-95-83</div>
        </div>
    </div>
</body>
</html>