<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/howgoing.css' %}">
</head>
<div class="howgoing-container">
    <div class="howgoing-left-content">
        <div class="howgoing-title-left">Как добраться</div>
        <div class="howgoing-text-left">Скорый электропоезд "Ласточка" довезет Вас до Чусового,где производится пересадка на автобусный трансфер до Горнолыжного курорта "Такман".</div>
    </div>
    <div class="howgoing-right-content">
        <div class="howgoing-right-content-title">График работы</div>
        <div class="howgoing-rcb">
            <div class="howgoing-rcbl">
                <div class="howgoing-rcbt">Администрация</div>
                <div class="howgoing-rcbtt">Ежедневно с 9:00 до 23:00</div>
                <div  class="howgoing-rcbt">Кафе</div>
                <div  class="howgoing-rcbtt">Ежедневно с 9:00 до 23:00</div>
            </div>
            <div class="howgoing-rcr">
                <div  class="howgoing-rcbt">Прокат</div>
                <div  class="howgoing-rcbtt">Ежедневно с 9:00 до 23:00</div>
                <div  class="howgoing-rcbt">Инструкторы</div>
                <div  class="howgoing-rcbtt">Ежедневно с 9:00 до 23:00</div>
            </div>
        </div>
    </div>
</div>
</html>