<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <td>
                    <div></div>
                    <div>Гостиница</div>
                </td>
                <td>
                    <div></div>
                    <div>Тип номера</div>
                </td>
                <td>
                    <div></div>
                    <div>Количество номеров</div>
                </td>
                <td>
                    <div>Будни</div>
                    <div>Цена за номер, ₽</div>
                </td>
                <td>
                    <div></div>
                    <div>Цена за весь коттедж, ₽</div>
                </td>
                <td>
                    <div>Выходные</div>
                    <div>Цена за номер, ₽</div>
                </td>
                <td>
                    <div></div>
                    <div>Цена за весь коттедж, ₽</div>
                </td>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div>Примечания:</div>
        <div>1. Гостиница предоставляет Гостям номера для временного проживания. </div>
        <div>2. Режим работы гостиницы – круглосуточный. Время заезда - с 15.00 часов местного времени, время отъезда до 14.00 (в зимний период), время заезда - с 14.00 часов местного времени, время отъезда до 13.00 часов местного времени (в летний период). </div>
        <div>3. При заселении Гостю необходимо иметь при себе документ, удостоверяющий личность, заполнить и подписать анкету, установленного образца, сдать анкету администратору По окончанию периода проживания Гостю необходимо уведомить администратора о выезде из номера и сдать ключи. </div>
        <div>4. В целях соблюдения правил пожарной безопасности гостям, проживающим в гостиницах, запрещается:</div>
        <div>- Пользоваться в номерах нештатными электронагревательными приборами, удлинителями, переходниками и т.д. Микроволновой печью и чайником можно воспользоваться в специальной кухонной зоне. </div>
        <div>- Хранить и приносить в номера огнеопасные и легковоспламеняющиеся материалы, ядовитые вещества. </div>
        <div>- Не оставляйте в гостинице ценные предметы. </div>
        <div>- Уходя из номера, оставлять включенными электроприборы. </div>
        <div>- Курить в номерах на территории гостиниц. Основание- закон №15-ФЗ «Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака». - Пользоваться в номерах и общественных зонах - кальяном. </div>
        <div>- Оставлять посторонних лиц в номере в своё отсутствие. </div>
        <div>- Находиться посторонним лицам в гостиничном номере с 23-00 до наступления расчетного часа без предъявления документа, удостоверяющего его личность. При   несоблюдении правил пребывание в гостинице может быть ограничено или прервано. </div>
        <div>- Нарушать покой проживающих после 23.00. </div>
        <div>- Нарушать санитарные нормы и требования в гостиничном номере. </div>
        <div>- Выбрасывать мусор, бутылки и другие предметы из окон гостиниц. </div>
        <div>- Выносить белье, полотенца и инвентарь из номера. </div>
        <div>- Размещение животных в гостиницах категорически запрещено.</div>
    </div>
</div>
</html>