<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ТАКМАН</title>
    {% load static %}
</head>
<div class="rl-container">
    <div class="rl-title">Правила пользования услугами курорта</div>
    <div>1. Карта Ски-Пасс (далее – Карта) – это многоразовая пластиковая карта с чипом, на которую зачисляются услуги по подъему Клиента на склоны гор с использованием канатных дорог (разовые подъемы и - почасовые проходы) на территории Курорта, а так же иные услуги. </div>
    <div>2. Пользование услугами канатной дороги возможно при наличии у Клиента действующей Карты. </div>
    <div>3. Получение Карты Клиентом производятся в официальных точках продаж Курорта: кассах, расположенных в Центральном здании, в домике инструкторской службы.</div>
    <div>4. Получение Карты осуществляется Клиентом одновременно с приобретением права пользования услугами Курорта. </div>
    <div>5. Оплата услуг, получаемых Клиентом посредством Карты, производится через кассы Курорта наличными денежными средствами или безналичным расчетом с использованием банковских карт, а юридическими лицами так же путем безналичного перечисления денежных средств на расчетный счет ГК «Такман». </div>
    <div>6. Оплата услуг осуществляется с применением контрольно-кассовой техники. При оплате услуг необходимо сохранять кассовые чеки до завершения использования услуг. </div>
    <div>7. Карта используется многократно, до тех пор, пока она соответствует условиям работы бесконтактной системы платного контроля доступа, используемой на Курорте. В случае, если Курорт изменит или обновит систему платного контроля доступа, Клиенту необходимо заменить имеющуюся Карту на новую Карту, соответствующую системе ГК «Такман». </div>
    <div>8. Во время катания Карту необходимо хранить в закрытом кармане верхней одежды, во избежание потери, не сгибать карту. </div>
    <div>9. Списание услуг и начало отсчета часовых проходов по Карте начинается после активации часового абонемента на турнекетах канатных дорог.</div>
    <div>10.Порядок возврата денежных средств при получении травмы на территории Курорта: Клиент предъявляет исправно работающую Карту; Кассовый чек о зачислении услуг на данную Карту; Документ, удостоверяющий личность (паспорт); Клиентом заполняется утвержденная форма заявления о возврате денежных средств с указанием причины и отметкой медпункта Курорта.</div>

</div>


<style>
.rl-container{
    padding:40px;
    overflow-x: hidden;
}
.rl-title{
    font-size: 72px;
    margin-bottom: 20px;
}
@media(max-width: 600px){
    .rl-title{
    font-size: 32px;
    margin-bottom: 10px;
}
}
</style>
</html>